<!DOCTYPE html SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="../styles/main.css"/>
        <link rel="stylesheet" href="../styles/menu.css" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>        
    </head>
    
    <body>
        
        <header class="w3-indigo">
            <script src="../styles/menu.js"></script>
        </header>
        
        <!-- !PAGE CONTENT! -->
        <main role="main" class="w3-container">
            <div class="main-body">           
                <h1 align="center">Title.</h1>
                <h2 align="center">Sub-title.</h2>
                
                <p>Content.</p>                
            </div>
        </main>
        
        
        <footer class="row">
            <div class="column">William Reed Quinn</div>
            <div class="column"><img class="logo" src="../images/logos/Twitter_Logo_Blue.png" alt="Twitter logo"/>@wi_quinn</div>
            <div class="column"><img class="logo" src="../images/logos/GitHub-Mark-32px.png" alt="Github logo"/> <a href="https://github.com/billquinn/">billquinn</a></div>
        </footer>
        <!-- End page content -->
        
    </body>
</html>